<div class="container">
  <div class="starter">
    <h1 class="brand">fue</h1>
    <p class="lead">一个自由开放的常用表达分享平台</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        
      </div>
    </div>
  </div>
</div>